@import url(‘https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap’);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  /* Declaro variables CSS con colores principales */
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-error: #dc3545;
  --color-theme: #8bae8e;
  --color-active: #5a1f5c;
  --color-back-active: #00ffd5;
  --color-gradient-1: #1b75ad;
  --color-gradient-2: #29d0de;
  --color-gradient: linear-gradient(to right, var(--color-gradient-1),
      var(--color-gradient-2));
}


nav>ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 60px;
  top: 0;
}

.gradient-deserver {
  background-image: var(--color-gradient); 
}

body {
  background-color: var(--color-theme);
}

h1 {
  text-align: center;
}

footer {
  display: flex;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}


