@import url(‘https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap’);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  /* Declaro variables CSS con colores principales */
  --color-text: #cf8c99;
  --color-theme: #176160;
  --color-active: #4bbea1;
  --color-back-active: #259998;
  --color-gradient-1: #1b75ad;
  --color-gradient-2: #29d0de;
  --color-gradient: linear-gradient(to right, var(--color-gradient-1),
      var(--color-gradient-2));
}
html, body {
  height: 100%;
}

.gradient-deserver {
  background-image: var(--color-gradient);
}

nav>ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 60px;
  top: 0;
}

body {
  background-color: var(--color-theme);
}

.container {
  min-height: 100%;
}

.container article {
  overflow: auto;
  padding-bottom: 100px;
}

.hessai-text {
  color: var(--color-text);
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

#about-me-text {
  font-size: 25px;
  margin-left: 200px;
  margin-right: 200px;
}

spam.hessai-text {
  margin-bottom: 20px;
}

.front-image {
  display: flex;
  justify-content: center;
}

.about-elements {
  display: flex;
  justify-content: center;
}

footer {
  height:125px;
  text-align: center;
  
}