.about-elements {
    display: flex;
    flex-direction: column;


    .about-me-text {
        @extend .hessai-text;
        margin: 10px;
        text-shadow: 2px 2px #273b31;
        text-align: justify;
        justify-content: center;
    }

    .about-image {
        width: 20%;
    }

    h1 {
        margin: 20px;
    }
}