* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

body {
  text-align: center;
  background-color: var(--color-theme);
  min-height: 100vh;
}

.hessai-text {
  color: var(--color-text);
  text-shadow: 2px 2px #273b31;
}

.hessai-saludando-items{
  margin-top: 200px;
  margin-bottom: 200px;
}

footer {
  margin-top: 20px;

  .darked{
    background-color: rgba(0, 0, 0, 0.2);
  }
}
