.contact{
    #contactForm {
        .mb-3{
            .form-label {
                margin: 5px;
                color: var(--color-text);
            }
        }
    }
}

.contact-items {
    margin-top: 150px;
    margin-bottom: 150px;
}