
.gallery-text{
    @extend .about-me-text;
}

.card-body{
    background-color: var(--color-active);
    .card-text {
        color: var(--color-dark-green);
    }
}

.card{
    border: 1px solid var(--color-hessai-red);
}